* {
    padding: 0;
    margin: 0;
    font-family: Roboto;

    a {
        text-decoration: none;
    }
}

header {
    background-color: #44A1A0;
    width: 100%;
    height: 9vw;

    display: flex;
    justify-content: space-between;

    .logo-inicial {
        width: 19vw;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 1.5vw;

        img {
            width: 100%;
            height: auto;
        }
    }

    nav {
        width: 34.2vw;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .icones {
            width: 90%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            img {
                width: 2.5vw;
                margin: 0.2rem;
            }
        }

        .menu {
            width: 90%;
            height: auto;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            p {
                color: white;
                font-weight: 400;
                font-size: 1.18vw;

                a {
                    color: white;
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 9vw;
    background-color: #44A1A0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1.9vw;

    .logo-final {
        width: 19vw;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 1.5vw;

        img {
            width: 100%;
            height: auto;
        }
    }

    nav {
        width: 40vw;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        margin-right: 1.5vw;

        .redes {

            img {
                width: 3.5vw;
            }
        }

        .autor {
            color: white;
            font-weight: 400;
            font-size: 1.2vw;

            a {
                color: white;
            }
        }
    }
}